body{
    font-family: Arial, sans-serif;
    color: #222;
}
#google-image{
    padding-top: 109px;
    display: block;
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
}
input[type="text"]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #fff;   
    padding-top: 6px;
    width: 584px;
    font-size: small;
    border: 1px solid #dfe1e5;
    height: 48px;
    border-radius: 24px;
    font: 16px arial,sans-serif;
    height: 34px;
    padding-left: 2em;
    padding-bottom: 6px;
}

input[type="text"]:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#apps-icon{
    width: 16px;
    height: 35px;
    opacity: .55;
}
#apps-icon:hover{
    opacity: 100;
}
.menu ul{
    display: block;
    text-align: center;
    font-size: 13px;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    float:left;
    padding: 14px 16px;
}
.menu input[type="submit"]{
    border: 0;
    background: transparent;
    padding: 0 0 0 0;
    padding-top: -10px;
}
.search-buttons-list ul{
    clear:left;
    float:left;
    list-style-type: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0 ;
    left: 50%;
    text-align: center;
}
.search-buttons-list li{
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
}
input[type="submit"]{
    background-color: #f2f2f2;
    border: 10px solid #f2f2f2; 
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    border-radius: 4px;
}
.footer {
    padding-left: 27px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e4e4e4;
    color: rgba(0,0,0,.54);
    font-size: small;
    text-align: left;
  }
  .footer ul{
    display: block;
    text-align: center;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer li{
    float:left;
    padding: 14px 16px;
}
.footer input[type="submit"]{
    border: 0;
    background: transparent;
    padding: 0 0 0 0;
    padding-top: -10px;
}