body{
    font-family: Arial, sans-serif;
    color: #222;
}
#google-image{
    padding-top: 109px;
    display: block;
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
}
input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #fff;   
    padding-top: 6px;
    width: 584px;
    font-size: small;
    border: 1px solid #dfe1e5;
    height: 48px;
    border-radius: 24px;
    font: 16px arial,sans-serif;
    height: 34px;
    padding-left: 2em;
    padding-bottom: 6px;
}
input:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#apps-icon{
    width: 16px;
    height: 16px;
    opacity: .55;
}
#apps-icon:hover{
    opacity: 100;
}
ul{
    display: block;
    text-align: center;
    font-size: 13px;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float:left;
    padding: 14px 16px;
}
